@import '../global-style/styles.scss';

.card-container{
    @include flexAlignCenter();
    flex-direction: column;
    

    .small{
        width: 15rem;
        height: 23rem;

        h2{
            @include titleLarge();
        }
    }

}