* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: "Primary", "Primary-Bold", sans-serif;
  color: $app-color-text;
  font-size: 62.5%;  // 16px / 10px = 62.5%
}

@include for-tablet-layout{
  html{
    font-size: 81.25%;
  }
}
@include for-desktop-layout{
  html{
    font-size: 93.75%;
  }
}

body {
  margin: 0;
}

main {
  height: calc(100vh - calc(#{$header-h} + #{$footer-h}));
  width: 100%;
  overflow-y: auto;
  box-shadow: $shadow-small;
}

section{
  width: 100%;
}

.inner-container{
  width: 100%;
}
@include for-desktop-layout{
  .inner-container{
    margin: auto;
    width: 90%;
    max-width: $break-big-screen;
  }
}

p,
h1,
h2,
h3,
h3,
h5,
h6 {
  margin: 0;
  display: inline-block;
}
ul {
  list-style: none;
  padding-left: 0;
}
button {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
