@import "../../global-style/styles.scss";

.card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $sand-20;

  h2 {
    font-size: $font-huge-size;
    font-family: "Primary-Bold";
    letter-spacing: 0.2rem;
    text-align: center;
  }

  img {
    width: 100%;
    margin-bottom: 1.8rem;
  }

  h2 {
    color: $app-color-black;
  }

  :hover {
    cursor: pointer;
  }
}

.small {
  width: 15rem;
  height: 23rem;

  img {
    height: 15rem;
  }
}

.medium {
  width: 20.5rem;
  height: 34rem;

  img {
    height: 22.5rem;
  }

  h3 {
    margin-top: 2rem;
    font-size: $font-large-size;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
