@import "../../global-style/styles.scss";

.card-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: $sand-20;

  h2 {
    font-size: $font-huge-size;
    font-family: "Primary-Bold";
    line-height: 1;
    letter-spacing: 0.2rem;
    text-align: center;
    color: $app-color-black;
  }

  #image {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  :hover {
    cursor: pointer;
  }

  .card-text-box{
    @include flexAlignCenter();
    flex-direction: column;
    justify-content: space-evenly;

    padding: .8rem;
    margin-top: 1.4rem;
  }
}

.small {
  width: 15rem;
  height: 23rem;

  #image {
    height: 15rem;
  }
}

.medium {
  width: 20.5rem;
  height: 34rem;

  #image {
    height: 22.5rem;
  }

  h3 {
    margin-top: 2rem;
    font-size: $font-large-size;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
