@import '../../global-style/styles.scss';

.chef-week-container{
    @include flexCenter();
    flex-direction: column;
    padding: 2.2rem;

    h3{
        font-size: $font-medium-size;
        margin-top: $spacing-small;
    }
    
    p{
        font-size: $font-medium-size;
        text-align: center;
        margin-top: $spacing-small;
        padding: .3rem;
    }
    
    .chef-portrait{
        
        width: 100%;
        height: 26rem;
        margin-top: $spacing-small;
        
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @include flexAlignCenter();
        flex-direction: column;
        justify-content: flex-end;
        
        h2{
            @include flexCenter();
            font-size: $font-huge-size;
            font-family: 'Primary-Bold';
            letter-spacing: .2rem;
            text-align: center;
            color: $app-color-black;
            background-color: $white-80;
            width: 100%;
            height: 5.5rem;
        }
    }
}