@import '../../global-style/styles.scss';

.home-icon-dictioanry-container{
    margin-top: 8rem;
    @include flexCenter();
    padding: 1rem 2.2rem;
    width: 100%;
    background-color: $sand-10;
    .icons-container{
        @include flexAlignCenter();
        justify-content: space-between;
        margin-top: 1.3rem;        
        width: 75%;
        .icon{
            @include flexCenter();
            flex-direction: column;
            p{
                margin-top: 1rem;
            }
            img{
                height: 3.5rem;
            }
        }
    }
}