@import "../assets/styles/global-style/styles.scss";

.card-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: $sand-20;

  #image {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  :hover {
    cursor: pointer;
  }

  .card-text-box {
    @include flexAlignCenter();
    flex-direction: column;

    padding: 0.8rem 1.5rem;
    margin-top: 1.4rem;

    h2 {
      width: 90%;
      font-size: $font-huge-size;
      font-family: "Primary-Bold";
      line-height: 1;
      letter-spacing: 0.2rem;
      text-align: center;
      color: $app-color-black;
    }

    h3 {
      text-align: center;
    }
  }
}

.small {
  width: 15rem;
  height: 23rem;

  #image {
    height: 15rem;
  }
}

.medium {
  width: 20.5rem;
  height: 34rem;

  #image {
    height: 22.5rem;
  }

  .card-text-box {
    height: 8rem;
    justify-content: space-between;

    h3 {
      font-size: $font-large-size;
    }
  }
}

.large {
  width: 26rem;
  height: 46rem;

  color: $app-color-black;

  #image {
    height: 20rem;
  }

  .card-text-box {
    height: 24rem;
    justify-content: space-between;

    p {
      font-size: $font-large-size;
      text-align: center;
    }

    .icons-container {
      @include flexAlignCenter();
      justify-content: space-evenly;
      .icon {
        height: 3.2rem;
      }
    }

  }
  .price-container{
    width: 100%;
    @include flexAlignCenter();
    justify-content: space-between;
    .line{
      width: 35%;
      height: 1px;
      border-bottom: 1px solid rgba($brown-grey, 0.2);
    } 
    #price{
      font-family: 'Primary-Bold';
    }
  }
}
