@import "../assets/styles/global-style/styles.scss";

.card-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: $sand-20;

  scroll-snap-align: start;
  

  #image {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  :hover {
    cursor: pointer;
  }

  .card-text-box {
    width: 100%;
    @include flexAlignCenter();
    flex-direction: column;

    padding: 0.8rem 1.5rem;

    h2 {
      width: 90%;
      font-family: "Primary-Bold";
      letter-spacing: 0.2rem;
      text-align: center;
      color: $app-color-black;
    }

    h3 {
      text-align: center;
    }
  }
}

.small {
}

.medium {
  .card-text-box {
    justify-content: space-between;
  }
}

.large {
  color: $app-color-black;

  .card-text-box {
    justify-content: space-between;
    p {
      text-align: center;
    }

    .icons-container {
      @include flexAlignCenter();
      justify-content: space-evenly;
      .icon {
        height: 3.2rem;
      }
    }
  }
  .price-container {
    width: 100%;
    @include flexAlignCenter();
    justify-content: space-between;
    .line {
      width: 35%;
      height: 1px;
      border-bottom: 1px solid rgba($brown-grey, 0.2);
    }
    #price {
      font-family: "Primary-Bold";
    }
  }
}