@import "../assets/styles/global-style/styles.scss";

.carousel-container {
  padding: 2rem;
  width: 100%;

  @include flexAlignCenterNoWrap();
  justify-content: flex-start;
  overflow-x: scroll;

  scroll-snap-destination: 0 0;
  scroll-snap-type: x mandatory;
  scroll-snap-type: mandatory;

  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;

  .carousel-card {
    flex-shrink: 0;
    margin: 0 0.8rem 0 0;
  }
  .dish-card-container {
    flex-shrink: 0;
    margin: 0 0.8rem 0 0;
  }
}
