@import "../../../assets/styles/global-style/styles.scss";

.single-restaurant-dishes-container {
  @include grid(2, #{$spacing-small});
  grid-auto-rows: 26rem;
  padding: 2rem;
  .card-container.large {
    width: 100%;

    @include flexAlignCenterNoWrap();
    flex-direction: column;
    justify-content: space-between;

    #image {
      width: 100%;
      height: 10rem;
    }
    .card-text-box {
      height: 14rem;

      @include flexAlignCenterNoWrap();
      flex-direction: column;
      justify-content: space-between;
      h2 {
        font-size: $font-large-size;
      }
      h3 {
        font-size: $font-medium-size;
      }
      .icons-container {
        .icon {
          height: 2.5rem;
        }
      }
    }
  }
}

@include for-desktop-layout{
    .single-restaurant-dishes-container{
        grid-template-columns: repeat(4, 1fr);

        .card-container.large{
            .card-text-box{
                height: 18rem;
            }
        }
    }
}
