@import "../setup/functions";

// LAYOUT BREAKPOINTS

$break-desktop: 900px;
$break-tablet: 700px;
$break-mobile: 375px;

//COLORS

//base
$app-color-black: #000000;
$app-color-white: #ffffff;

//main-colors

//text-color

//border-color

//bg-color

//warning-color

//title-color

//input-color

//link-color

//SPACING

//SIZES

//BTNS

//GRADIANTS

//SHADOWS