@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flexCenterAlignStretch{
  display:flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

@mixin flexAlignCenter{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flexWrap{
  display: flex;
  flex-wrap: wrap;
}

/* Media queries Breakpoint mixins */
@mixin for-desktop-layout {
  @media (min-width: $break-desktop) {
    @content;
  }
}

@mixin for-tablet-layout {
  @media (max-width: $break-narrow) {
    @content;
  }
}

@mixin for-mobile-layout {
  @media (max-width: $break-normal) {
    @content;
  }
}