@font-face {
  font-family: Primary;
  src: url("../../../fonts/HelveticaNeue-Thin.otf");
}
@font-face {
  font-family: Primary-Bold;
  src: url("../../../fonts/FreeSans.ttf");
}
// @font-face {
//   font-family: Secondary;
//   src: url("../../fonts/[enter font here...]");
// }
// @font-face {
//   font-family: Secondary-Bold;
//   src: url("../../fonts/[enter font here...]");
// }
