//COLORS

//base
$app-color-black: #000000;
$app-color-white: #ffffff;

//main-colors
$pale-peach: #f7e0b2;
$beige: #f9f4ea;
$sand-20: #e8c47a33;
$brown-grey: #979797;
$pumpkin-90: #de9200e6;
$sand-80: #e8c47acc;
$white-11: #ffffff1c;

//text-color
$app-color-text: grey;

//border-color
$search-bar-border-color: #c0c0c0;

//bg-color

//warning-color

//title-color

//input-color

//link-color

//SPACING

//SIZES
$header-h: 5rem;
$footer-h: 12.5rem;

$font-medium-size: 1.6rem;

// LAYOUT BREAKPOINTS
$break-desktop: 90rem;
$break-tablet: 70rem;
$break-mobile: 37.5rem;

//BTNS

//GRADIANTS

//SHADOWS