@import "../../../assets/styles/global-style/styles.scss";

.home-hero-container {
  height: 27rem;
  padding: 7rem 2rem;

  @include flexCenterAlignStretch();

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .hero-box-container {
    padding: 2rem 3rem;

    @include flexCenter();
    flex-direction: column;

    background-color: rgba(255, 255, 255, 0.9);

    h1 {
      width: 70%;
      font-size: $font-large-size;
      line-height: 1.6;
      text-align: center;
      color: black;
      margin-bottom: 1.5rem;
    }
  }
}

@include for-desktop-layout {
  .home-hero-container {
    height: 40rem;
    padding: 13rem 22rem;
    .hero-box-container {
      h1 {
        width: 80%;
        min-width: 27rem;
      }
      padding: 2rem 6rem;
    }
  }
}
