@import "../../../assets/styles/global-style/styles.scss";

.popular-restaurants-container {
  margin-top: 2.5rem;
  @include flexAlignCenter();
  flex-direction: column;
  justify-content: flex-start;
  h2 {
    text-align: center;
  }

  padding-left: $padding-l;

  .card-container.medium {

    width: 20.5rem;
    height: 34rem;

    #image {
      height: 22.5rem;
    }

    .card-text-box{
      height: 9rem;
      h2 {
        font-size: $font-huge-size;
      }
      h3 {
        font-size: $font-large-size;
      }
    }
  }

  .link{
    color: $app-color-black;
    font-family: 'Primary-Bold';
    font-size: $font-large-size;
    margin-left: auto;
    text-transform: uppercase;
  }
}

@include for-desktop-layout{
  .popular-restaurants-container{
    padding: 0;
  }
}