@import "../../../assets/styles/global-style/styles.scss";

.signature-dish-container {
  margin-top: $spacing-large;

  @include flexAlignCenter();
  flex-direction: column;
  justify-content: flex-start;

  padding-left: $padding-l;

  h3 {
    margin-top: 1.8rem;
    font-family: "Primary-Bold";
    font-size: $font-large-size;
    color: $app-color-black;
  }

  .dish-card-container {
    width: 25rem;
    h3 {
      width: 100%;
      text-align: center;
      margin-bottom: $spacing-small;
      font-size: $font-large-size;
    }
    .card-container.large {
      width: 100%;

      #image {
        height: 20rem;
      }

      .card-text-box {
        height: 24.5rem;

        h2 {
          font-size: $font-huge-size;
        }

        p {
          font-size: $font-large-size;
        }
      }
    }
  }
  .cards-container-web {
    @include grid(3, $spacing-small);
  }
}

@include for-desktop-layout {
  .cards-container-web {
    .dish-card-container {
      width: 100%;
    }
  }
  .signature-dish-container {
    padding: 0;
  }
}
