@import "../../../assets/styles/global-style/styles.scss";

.all-restaurants-container {
  width: 100%;

  @include grid(2, #{$spacing-small});
  grid-auto-rows: 22rem;

  .card-container.medium {
    justify-self: center;
    width: 16rem;

    #image {
      height: 12rem;
    }

    .card-text-box {
      height: 8.5rem;

      h2 {
        font-size: $font-large-size;
      }
      h3 {
        font-size: $font-medium-size;
      }
    }
  }
}

@media (min-width: 550px) {
  .all-restaurants-container {
    padding: 0 $spacing-small;
    grid-template-columns: repeat(3, 1fr);
    .card-container.medium {
      width: 100%;
    }
  }
}