@import '../../../assets/styles/global-style/styles.scss';

.all-restaurants-container{
    width: 100%;
    padding: 1.5rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 19rem ;
    grid-gap: 2rem;

    .card-container.medium{

        margin-top: 1rem;
        width: 16rem;

        #image{
            height: 12rem;
        }

        .card-text-box{
            height: 8.5rem;

            h2{
                font-size: $font-large-size;
            }
            h3{
                font-size: $font-medium-size;
            }
        }
    }
}